---
import Layout from '../../layouts/Layout.astro';
import DashboardTable from '../../react/DashboardTable.tsx';
import AppSidebar from '../../react/AppSidebar.tsx';
---

<Layout title="Documentos · Doclify" hideChrome>
  <div class="min-h-screen">
    <AppSidebar client:only="react" activeRoute="documents" />
    <main class="min-w-0 lg:pl-65">
      <div class="mx-auto max-w-360 px-4 pt-20 pb-8 sm:px-6 sm:pt-24 sm:pb-10 lg:pt-10">
        <DashboardTable client:load />
      </div>
    </main>
  </div>
</Layout>
